@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
    --primary: 222 47% 11%;
    --primary-foreground: 210 40% 98%;
    --accent: 210 40% 96%;
    --input: 214 32% 91%;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
